@model TestJabil.Models.Building
@{
    ViewBag.Title = "Agregar Edificio";
}

<h3>Agregar Edificio</h3>

@using (Html.BeginForm("Create", "Building", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.BuildingName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.BuildingName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BuildingName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
}